{% extends "base.html" %}

{% block content %}

    {% if not request.user.is_authenticated %}
        <div style="margin-top: 30px;">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
        </div>
        <p>
            Already have an account? Please <a href="/login">login</a>
        </p>
    {% else %}
        <p>
            You're already logged in and cannot register. Would like to <a href="/logout/">logout</a>?
        </p>
    {% endif %}
    
{% endblock %}