{% extends "base.html" %}

{% block content %}

    {% if not created %}
        <div style="margin-top: 30px;">
            <form action="." method="post">
                {% csrf_token %}
                {{ article_form.as_p }}
                <div>
                    <input type="submit" value="Create article"/>
                </div>
            </form>
        </div>

    {% else %}
        <p>Your article was created successfully</p>
        <li>
            <a href="/articles/{{ new_article.id }}/">{{ new_article.title }} - {{ new_article.content }}</a>
        </li>
    {% endif %}

{% endblock content %}
